<header class="navbar navbar-expand navbar-dark px-4 flex-column flex-md-row">
    <a class="navbar-brand mr-md-2 mr-0" routerLink="/" aria-label="NG Bootstrap" (click)="navbarCollapsed = true">
      <svg version="1.1" id="_x34_4" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="36" height="36" viewBox="0 0 15.871 15.863" enable-background="new 0 0 15.871 15.863" xml:space="preserve">
<g>
	<path fill="#ffffff" d="M7.936,0C3.553,0,0,3.553,0,7.936c0,2.036,0.773,3.887,2.033,5.292l2.763-8.928h5.981
		c0.18,0.014,0.346,0.042,0.498,0.083c0.388,0.111,0.679,0.305,0.872,0.582c0.042,0.069,0.063,0.18,0.063,0.332
		c0,0.762-0.437,2.389-1.309,4.881c-0.249,0.665-0.581,0.997-0.997,0.997H6.894L5.265,15.4c0.836,0.299,1.732,0.471,2.671,0.471
		c4.382,0,7.936-3.553,7.936-7.936S12.317,0,7.936,0z"/>
  <path fill="#ffffff" d="M8.734,9.075c0.339-0.258,0.509-0.589,0.509-0.993c0-0.488-0.166-0.889-0.498-1.203
		c-0.333-0.313-0.748-0.47-1.247-0.47C7,6.409,6.581,6.573,6.242,6.901c-0.34,0.328-0.517,0.687-0.529,1.077
		C5.698,8.354,5.837,8.688,6.128,8.981c0.346,0.321,0.823,0.481,1.433,0.481C8.004,9.462,8.395,9.333,8.734,9.075z"/>
</g>
</svg>
        <span class="ml-2 d-xl-none d-lg-none d-md-none d-inline">ng-bootstrap</span>
      </a>

      <div class="navbar-nav-scroll" style="font-size: 18px">
        <ul class="navbar-nav flex-row">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/home']" (click)="navbarCollapsed = true">首页</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/download']" (click)="navbarCollapsed = true">下载</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/getting-started']" (click)="navbarCollapsed = true">开始</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/components']" (click)="navbarCollapsed = true">组件</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/exercise']" (click)="navbarCollapsed = true">练习</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/backstage']" (click)="navbarCollapsed = true">后台</a>
          </li>
        </ul>
      </div>

      <ul class="social-buttons navbar-nav flex-row ml-md-auto d-md-flex align-items-center">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary nav-link" style="font-size:small" id="dropdownBasic1" ngbDropdownToggle>游文聪</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem [routerLink]="['/backstage/login']"   >登录</button>
            <button ngbDropdownItem [routerLink]="['/backstage/login2']"   >登录2</button>
            <button ngbDropdownItem [routerLink]="['/backstage/register']">注册</button>
            <button ngbDropdownItem [routerLink]="['/backstage/register2']">注册2</button>
            <button ngbDropdownItem [routerLink]="['/backstage/userinfo']">个人</button>
          </div>
        </div>

      </ul>
</header>
