<app-page-wrapper-exercise pageTitle="GraphQL">

  <app-page-header title="All" fragment="all" class="mt-0"></app-page-header>
  <button type="button" class="btn btn-success m-2" (click)="doCat_create()">Create</button>
  <button type="button" class="btn btn-success m-2" (click)="doCat_update(idSelected)">Update</button>
  <button type="button" class="btn btn-success m-2" (click)="doCat_delete(idSelected)">Delete</button>
  <button type="button" class="btn btn-success m-2" (click)="doCat_getAll()">getAllGets</button>

  <h6>idSelected: {{idSelected}}</h6>
  <ul>
    <li *ngFor="let i = index ; let cat of cats | async" (click)="doClick(cat.id)" >{{i}}:{{cat.id}}, {{ cat.name
      }}, {{cat.age}}, {{cat.breed}}</li>
  </ul>
</app-page-wrapper-exercise>
