<!-- <h3>Heroes</h3>
<button type="button" class="btn btn-success m-2" (click)="onClick()">Get Heros</button> -->
<div style="border: 1px solid #666; margin: 4px;">
  <div style="border: 1px solid red; margin: 5px;">
    <ng-content select="header"></ng-content>
  </div>

  <div style="border: 1px solid green; margin: 5px;">
    <ng-content select=".cardbody"></ng-content>
  </div>
  <div style="border: 1px solid blue; margin: 5px;">
    <ng-content select="footer"></ng-content>
  </div>

</div>
