<app-page-wrapper-exercise pageTitle="GraphQL">

  <app-page-header title="All" fragment="all" class="mt-0"></app-page-header>
  <button type="button" class="btn btn-success m-2" (click)="doCat_create()">Create</button>
  <button type="button" class="btn btn-success m-2" (click)="doCat_update(idSelected)">Update</button>
  <button type="button" class="btn btn-success m-2" (click)="doCat_delete(idSelected)">Delete</button>
  <button type="button" class="btn btn-success m-2" (click)="doCat_getSome()">getSomGets</button>
  <button type="button" class="btn btn-success m-2" (click)="doCat_get()">getGet</button>

  <div class="alert alert-primary" role="alert">
    <h6>Websocket Subscription: </h6>
    <div *ngIf="catAdded$"    >catAdded$:{{catAdded$|async|json}}</div>
    <div *ngIf="catUpdated$"  >catUpdated$:{{catUpdated$|async|json}}</div>
    <div *ngIf="catDeleted$"  >catDeleted$:{{catDeleted$|async|json}}</div>
  </div>

  <h6 *ngIf="cat$"  >cat$:{{cat$|async|json}}</h6>
  <h6 *ngIf="idSelected">idSelected: {{idSelected}}</h6>
  <h6 *ngIf="loading" >Loading...</h6>
  <ul>
    <li *ngFor="let i = index ; let cat of cats$ | async" (click)="doSelect(cat.id)" >{{i}}:{{cat.id}}, {{ cat.name
      }}, {{cat.age}}, {{cat.breed}}</li>
  </ul>
</app-page-wrapper-exercise>
